.create_article {
  min-height: 100vh;
  .createArticleMain {
    display: grid;
    place-items: center;
    .artilceForm {
      .jodit-wysiwyg {
        min-height: 300px !important;
      }
    }
  }
}
