.card {
  width: 95%;
  min-height: 250px !important;
  overflow: hidden;
}

.card p {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
  }
}
