.card {
  min-height: 250px !important;
  width: 100%;
  overflow: hidden;
}

.card .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
}

@media screen and (max-width: 992px) {
  .card .card-text {
    img {
      width: 100% !important;
      object-fit: contain !important;
    }
  }
}
