.article-details {
  min-height: 100vh !important;
  display: grid;
  place-items: center;
  .createArticleMain {
    min-height: 90%;
    width: 100vw !important;
    .artilceForm {
      .article-content {
        text-align: justify;
      }
    }
  }
  @media screen and (max-width: 992px) {
    .createArticleMain {
      .artilceForm {
        .article-content {
          img {
            width: 100% !important;
            object-fit: contain !important;
          }
        }
      }
    }
  }
}
