.article-details {
  min-height: 100vh !important;
  display: grid;
  place-items: center;
  .createArticleMain {
    min-height: 90%;
    .artilceForm {
      width: 90%;
      .article-content {
        text-align: justify;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .createArticleMain {
      .artilceForm {
        width: 95%;
      }
    }
  }
}
