.footer {
  border-top: 1px solid #e3d7e6;
  .scrollUp {
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 10%;
    right: 2%;
    transition: all 0.3s ease-in-out;
    &:hover {
      scale: 0.9;
    }
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  .footer-category-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    .sub-items {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 10px;
      a {
        text-decoration: none;
        font-size: 12px;
        color: #392467;
        &:hover {
          color: #a367b1;
        }
      }
    }
  }
  .footer-copyright {
    p {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 992px) {
    .footer-category-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 767px) {
    .footer-category-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
